md-sidenav-container {
  height: 85vh;
  flex: 1;

  md-sidenav {
    width: 60vw;
  }
}

.hidden{
  display: none !important;
}

.footer {
  padding: 1em;
  height: 46px;  
  background-color: #e5e3ef;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  md-sidenav-container md-sidenav {
    width: 20vw;
  }
}