<md-card class="full-card">
  <md-card-header>
    <md-card-title>
      <h3>Новый документ</h3>
    </md-card-title>
  </md-card-header>
  <form #documentAdd="ngForm">
    <md-card-content>
      <md-list>
        <h2 md-subheader>Входящие реквизиты докумета:</h2>
        <md-list-item>
            <md-select [(ngModel)]="document.senderId" name="senderId" placeholder="Выберите от кого поступил документ " class="doc-add-full-width">
              <md-option *ngFor="let sender of senders" [value]="sender.senderId">
                {{sender.name}}
            </md-option>
        </md-select>
        </md-list-item>
        
        <md-list-item>
            <md-input-container>
              <input md-input [(ngModel)]="document.incomingDocumentNumber" name="incomingDocumentNumber" minlength="1" maxlength="8" placeholder="Входящий номер документа">
            </md-input-container>
        </md-list-item>

        <md-list-item>
            <md-input-container class="doc-add-full-width">
              <input md-input [(ngModel)]="document.contactName" name="contactName" required minlength="4" maxlength="20" placeholder="Ф.И.О.">
          </md-input-container>
        </md-list-item>

        <md-list-item>
            <md-input-container>
              <input md-input [(ngModel)]="document.contactPhone" name="contactPhone" type="tel" required minlength="3" maxlength="12" placeholder="Телефон">
            </md-input-container>
        </md-list-item>
        <md-list-item>
            <md-input-container class="doc-add-full-width">
              <input md-input [(ngModel)]="document.projectDescription" name="projectDescription" type="text" minlength="4" maxlength="128" placeholder="Примечания...">
            </md-input-container>
        </md-list-item>

      <h2 md-subheader>Реквизиты проекта докумета:</h2>
        <md-list-item>
           <md-input-container>
              <input md-input [(ngModel)]="document.projectNumber" name="projectNumber" required minlength="4" maxlength="6" placeholder="Номер проекта">
          </md-input-container>
        </md-list-item>

        <md-list-item>
          <md-input-container>
            <input md-input [(ngModel)]="document.registrationDate" name="registrationDate" type="date" required minlength="8" maxlength="8" placeholder="Дата регистрации">
          </md-input-container>
        </md-list-item>

        <md-list-item>  
          <md-select [(ngModel)]="document.documentTypeId" name="documentTypeId" placeholder="Выберите тип проекта "class="doc-add-full-width">
            <md-option *ngFor="let documentType of documentTypes" [value]="documentType.documentTypeId">
              {{documentType.name}}
            </md-option>
          </md-select>
        </md-list-item>
      </md-list>
    </md-card-content>
    <md-card-actions>
      <button md-button (click)="goBack()">НАЗАД</button> 
      <button md-button (click)="onSave()">СОХРАНИТЬ</button>
    </md-card-actions>
  </form>
</md-card>
