.half-card {
  width: 20vw;
  display: inline-block;
  margin: 10px;
}

.half-card:hover {
  border: 1px solid;
  opacity: .5;  
}

.date-format {
  padding-left: 40px;
}

.greenClass {
  background: #eafcf0
}